*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f7f6f6, #f1eeee);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
h1 {
  margin-bottom: 1.5rem;
  color: #ccb3b3;
}
.board{
  padding: 1rem;
  background: rgb(235, 202, 202);
  border-radius: 20px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.columns{
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.column{
  background: linear-gradient(145deg, #ffffffd7, #f0f0f0);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.column h3{
  margin: 0;
  text-align: center;
  color: #b4a0a0;

}
.task{
  background-color: #fff;
  border-radius: 12px;
  padding: 0.75rem;
  box-shadow:  0 2px 6px rgba(0, 0, 0, 0.1);;
}
button{
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 10px;
  background: #a74c97;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;

}
button:hover{
  background:#72367a;
}
.task-btn{
  background: #ff3fcf;

}
.task-btn:hover {
  background: #9b1965;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }
}